html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: 18vh;
  max-height: 120px;
  overflow: hidden;
  background: radial-gradient(circle at center, #001f26, #000);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #00f0ff;
  z-index: 2;
}

.plexus-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /*plexus visible on speakers page*/
  pointer-events: none; 
}

.center-content {
  position: relative;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
}

.main-title {
  width: 440px;   
  max-width: 80%;
  height: auto;
  margin-top: -8px;
  filter: drop-shadow(0 0 3px #00f0ff)
          drop-shadow(0 0 4px rgba(0,240,255,0.1));
}

/* SIDE LOGOS */

.side-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100px;
  width: auto;
  z-index: 3;
}

.left-logo { 
  left: 20px; 
  height: 65px;
}
.extra-left-logo {
  left: 170px;   
  height: 60px;
  width: 120px;
  border-radius: 5px;
}
.right-logo { 
  right: 20px; 
  height: 65px;
}

/* ICONS */

.icon {
  position: absolute;
  width: 6vw;
  max-width: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 0.3s ease;
}

.i1 { top: 25%; left: 11%; }
.i2 { top: 50%; left: 88%; }
.i3 { top: 74%; left: 30%; }
.i4 { top: 19%; left: 31.5%; }
.i5 { top: 20%; left: 73%; }
.i6 { top: 68%; left: 20%; }
.i7 { top: 74%; left: 70%; }
.i8 { top: 65%; left: 80%; }

/* MOBILE VIEW  */
@media (max-width: 768px) {
  .hero {
  position: relative;
  width: 100%;
  height: 73px;
  overflow: hidden;
  background: radial-gradient(circle at center, #001f26, #000);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  z-index: 2;
  background: #00f0ff;
}

.plexus-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /*plexus visible on speakers page*/
  pointer-events: none; 
}

.center-content {
  position: relative;
  z-index: 3;
  text-align: center;
  color: #00f0ff;
  top: 50%;
  transform: translateY(-50%);
}

.main-title {
  margin-top:-2px;
  margin-left: 20px;
  width: 150px;
}

/* SIDE LOGOS */

.side-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: auto;
  z-index: 3;
}

.left-logo { 
  left: 10px;
}
.extra-left-logo {
  left: 50px;   
  height: 31px;
  width: 60px;
  border-radius: 1px;
}
.right-logo { 
  right: 20px; 
}

/* ICONS */

.icon {
  position: absolute;
  width: 6vw;
  max-width: 35px;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 0.3s ease;
}

.i1 { top: 14%; left: 11%; }
.i2 { top: 50%; left: 97.5%; }
.i3 { display:none }
.i4 { top: 17.5%; left: 33.12%; }
.i5 { top: 20%; left: 73%; }
.i6 { top: 88%; left: 17%; }
.i7 { top: 95%; left: 56%; }
.i8 { top: 70%; left: 83%; }

}