* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.page {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/* GLOWING TITLES */
.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.0rem;
  letter-spacing: 1px;
}
/* PLATINUM — TEAL */
.title.platinum {
  color: #7fffe9;
  text-shadow:
    0 0 14px rgba(0, 255, 231, 0.7),
    0 0 40px rgba(0, 255, 231, 0.45);
}

/* GOLD — GOLDEN */
.title.gold {
  color: #ffd54f;
  text-shadow:
    0 0 14px rgba(255, 193, 7, 0.7),
    0 0 40px rgba(255, 193, 7, 0.45);
}

/* EVENT — SILVER */
.title.event {
  color: #e0e0e0;
  text-shadow:
    0 0 14px rgba(220, 220, 220, 0.7),
    0 0 40px rgba(220, 220, 220, 0.45);
}

/* PLATFORM — ORANGE */
.title.platform {
  color: #ff9800;
  text-shadow:
    0 0 14px rgba(255, 140, 0, 0.7),
    0 0 40px rgba(255, 140, 0, 0.45);
}

/* KNOWLEDGE — WHITE */
.title.knowledge {
  color: #ffffff;
  text-shadow:
    0 0 16px rgba(255, 255, 255, 0.75),
    0 0 45px rgba(255, 255, 255, 0.55);
}


/* GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}
